/*Universal Settings*/
* {
  box-sizing: border-box;
}

body {
  margin: 0 0;
  background-color: #fefee9;
}

h1,
h2,
span {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #18171c;
}

p,
li,
input,
a {
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
  color: #18171c;
  text-decoration: none;
}

/*Logo + Basic Buttons*/
#sezione-logo {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
#logo {
  width: 50%;
  height: auto;
}

#logg {
  box-sizing: border-box;
  text-align: end;
  margin-right: 8rem;
  width: 100%;
}

#basic {
  display: flex;
  list-style: none;
}
#basic li {
  padding-right: 2rem;
}
#basic img {
  width: 2.5rem;
  height: auto;
  padding: 0.3rem;
  border-radius: 0.3rem;
  transition: 0.4s;
}
#basic img:hover {
  filter: invert(1);
  background-color: #0046d9;
}

/* Categories Section */

#categories {
  display: flex;
  padding: 0rem 2rem;
  justify-content: space-between;
}
#categories li {
  list-style: none;
}

#categories li a {
  text-decoration: none;
  color: #18171c;
  padding: 0.8rem;
  border-radius: 0.3rem;
  transition: 0.4s;
}

#categories li a:hover {
  color: #fefee9;
  background-color: #ffb926;
}

/*Slideshow Container*/

.container-images {
  display: flex;
  text-align: center;
  z-index: -100;
}
.container-frame {
  width: 1220px;
  overflow: hidden;
  margin-left: 5%;
}

.container-frame img {
  border-radius: 0.2rem;
  animation: slide 24s infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}

/*Tasto Cerca*/

#search {
  position: absolute;
  width: auto;
  z-index: 100;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 350%);
}

.input-search {
  width: 400px;
  height: 2em;
  border-radius: 0.3rem;
  border: 2px solid white;
}

#search-button {
  height: 2rem;
  background-color: #ffb926;
  border: 2px solid #ffb926;
  border-radius: 0.3rem;
  transition: 0.4s;
}

#search-button:hover {
  background-color: #fefee9;
  border: 1px solid #fefee9;
}
textarea:focus,
input:focus {
  outline: 2px solid #ffb926;
}

/*Most searched brands*/
section h1 {
  padding: 0.2rem;
  text-align: center;
}

.brand-grid {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

.grid-item img {
  width: 40%;
  padding: 1.4rem;
}

#reasons {
  background-color: #ffb926;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.reason {
  text-align: center;
  width: 300px;
  padding: 0.4rem;
  margin: 1rem;
  border-radius: 2rem;
  background-color: #fefee9;
}

.reason img {
  padding: 1rem;
  width: 40%;
}

/*Support us*/

.support img {
  width: 2%;
}

/*Additional Services*/

#services {
  display: flex;
  justify-content: space-around;
}

.add-service {
  text-align: center;
  width: 300px;
  padding: 1rem;
  border-radius: 2rem;
  background-color: #fefee9;
}

.add-service img {
  padding: 1rem;
  width: 20%;
}

.add-service li {
  padding: 0.3rem;
}

/*Services*/

#services ul {
  list-style-type: "✓";
  padding: 0;
}

.contact {
  display: block;
}

#info ul {
  list-style-type: none;
}

/*Footer*/

footer {
  text-align: center;
}

#clausole {
  font-size: 0.7rem;
}
